@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --color-gray-1: #E5E5E5;
    --color-gray-2: #A9A9A9;
    --color-gray-3-rgb: rgba(196,196,196,0.85);
    --color-black: #4E5150;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.wrapper {
    max-width: 120rem;
    margin: 0 auto;
}